:root
{
    --text-color: black;
}

body
{
    display: grid;
    grid-template-rows: 1fr auto 1fr;
    grid-template-columns: 1fr auto 1fr;
    grid-template-areas: "... ... ..." "... content ..." "... ... ...";
    min-height: 90vh;
    background-color: rgb(4, 211, 244, 0.5);
    font-size: 18pt;
    color: var(--text-color);
}

.content
{
    grid-area: content;
    text-align: center;
}

#controls
{
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    grid-template-areas: "start increment" "columns rows";
    text-align: right;
    gap: 1.5ch;
    margin: 0;
   
    .start-input
    {
        grid-area: start;
    }

    .increment-input
    {
        grid-area: increment;
        text-align: left;
    }

    .columns-input
    {
        grid-area: columns;
    }

    .rows-input
    {
        grid-area: rows;
        text-align: left;
        
        .input-label
        {
            padding-left: 4ch;
        }
    }

    .input-label
    {
        margin-right: 1ch;
        font-weight: bold;
    }
    .input-label::after
    {
        content:":";
    }
}

#display
{
    margin-top: 5vh;
}

#choral-table
{
    margin: 0 auto;   
    td
    {
        border: solid black 1.5px;
        padding: 1ch;
        text-align: center;
        min-width:3ch;
        background-color: white;
    }
}

.mixed-number
{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "left right";
    gap: 1ch;

    .left-part
    {
        grid-area: left;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .fraction
    {
        grid-area: right;
    }
}

.fraction
{
    --fraction-bar-thickness: 0.1ch;
    --fraction-color: var(--text-color);

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "numerator" "denominator";
    color: var(--fraction-color);

    @mixin fraction-number
    {
        display: block;
        min-width: 2ch;
        padding: 0.2ch;
        text-align: center;
    }

    .numerator
    {
        @include fraction-number;
        grid-area: numerator;
        border-bottom: solid var(--fraction-color) var(--fraction-bar-thickness);
    }

    .denominator
    {
        @include fraction-number;
        grid-area: denominator;
        border-top: solid var(--fraction-color) var(--fraction-bar-thickness);
    }
}